.navbar-default {
  background-color: #2c244c;
  border-color: #1c172b;
}
.navbar-default .navbar-brand {
  color: #d5eaeb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #74c4d4;
}
.navbar-default .navbar-text {
  color: #d5eaeb;
}
.navbar-default .navbar-nav > li > a {
  color: #d5eaeb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #74c4d4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #74c4d4;
  background-color: #1c172b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #74c4d4;
  background-color: #1c172b;
}
.navbar-default .navbar-toggle {
  border-color: #1c172b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1c172b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d5eaeb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d5eaeb;
}
.navbar-default .navbar-link {
  color: #d5eaeb;
}
.navbar-default .navbar-link:hover {
  color: #74c4d4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d5eaeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #74c4d4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #74c4d4;
    background-color: #1c172b;
  }
}
