* {
  box-sizing: border-box;
}


.splash_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

.splash_row {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.splash_img {
  height: 50%;
  margin: 10px;
  box-shadow: 10px 14px 20px 0px rgba(226,204,189,1);
}

.splash_img-1{
  background-size: cover;
  width: 100%;
  
}

.splash_img-2{
  background: url('https://images.unsplash.com/photo-1528696892704-5e1122852276?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
  background-size: cover;
  width: 100%;
}

.splash_img-3{
  background: url('https://images.unsplash.com/photo-1524678606370-a47ad25cb82a?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
  background-size: cover;
  width: 100%;
  
}

.splash_img-4 {
  background: url('https://images.unsplash.com/photo-1563305145-b64e0c2184aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
  background-size: cover;
  width: 100%;
  
}

.splash_img-5 {
  background: url('https://images.unsplash.com/photo-1563305145-b64e0c2184aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
  background-size: cover;
  width: 100%;
  
}

.splash_img-6 {
  background: url('https://images.unsplash.com/photo-1563305145-b64e0c2184aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
  background-size: cover;
  width: 100%;
  
}

.splash_img-7 {
  background: url('https://images.unsplash.com/photo-1563305145-b64e0c2184aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') no-repeat center center;
  background-size: cover;
  width: 100%;
  
}


@media screen and (min-width: 767px) {
  .splash_row{    
  height: 350px; 

  }
  
  .splash_img{
    height: 50%;  
  }
  
  .splash_img-1 {
    width: 70%;
  }

  .splash_img-2 {
    width: 24%;
  }

  .splash_img-3 {
    width: 30.7%;
  }
  
  .splash_img-4 {
    width: 30.7%;
  }

  .splash_img-5 {
    width: 30.7%;
  }  
  
  .splash_img-6 {
    width: 47%;
  }   
 
  .splash_img-7 {
    width: 47%;
  }
 
  
}























body {
    margin-top: 31px;
}

.panel-group-auth{}

.panel-auth{margin-bottom:10px;background-color:white;border:0px solid transparent;border-radius:4px;-webkit-box-shadow:0 0px 0px rgba(0,0,0,0);box-shadow:0 0px 0px rgba(0,0,0,0)}

.panel-heading-auth {
    background-color: white;
    padding:0px 0px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

.panel-body-auth {
    background-color: white;
}

.panel-title-auth {
    background-color: white;
}

.list-group-item-auth {
    border: none;
}

.carousel-caption-black {
    position:absolute;
    right:15%;
    bottom:20px;
    left:15%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#000;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6)
    }

.nav.navbar-nav.navbar-right li a {
  line-height: 50px;
  font-size: 18px
  }

.navbar-default {
  background-color: #2c244c;
  border-color: #1c172b;
}
.navbar-default .navbar-brand {
  color: #d5eaeb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #74c4d4;
}
.navbar-default .navbar-text {
  color: #d5eaeb;
}
.navbar-default .navbar-nav > li > a {
  color: #d5eaeb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #74c4d4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #74c4d4;
  background-color: #1c172b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #74c4d4;
  background-color: #1c172b;
}
.navbar-default .navbar-toggle {
  border-color: #1c172b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1c172b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d5eaeb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d5eaeb;
}
.navbar-default .navbar-link {
  color: #d5eaeb;
}
.navbar-default .navbar-link:hover {
  color: #74c4d4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d5eaeb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #74c4d4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #74c4d4;
    background-color: #1c172b;
  }
}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.table-condensed{
  font-size: 14px;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}
